<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}BASE{% endblock %}</title>
  <link rel="shortcut icon" href="/static/favicon.ico"/>
  <link href="/static/base.min.css" rel="stylesheet" type="text/css">
  <script src="/static/jquery-2.1.1.min.js"></script>
  <script src="/static/jquery.cookie.js"></script>
  <script src="/static/textFit.min.js"></script>
  <script src="/static/base.js"></script>
  <script src="/static/ajax.js"></script>
</head>
<body>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
  <div class="banner"><div class="banner-text"></div></div>
  <div class="banner"><div class="banner-text"></div></div>
  {% block footer_script %}{% endblock %}
</body>
</html>
