{% extends 'base.html' %}


{% block title %}Elf{% endblock %}


{% block head %}
{{ super() }}
{% raw %}
<script id="user-template" type="text/x-handlebars-template">
  <li class="user-field">
    <input class="name-textbox" type="text" maxlength="128" placeholder="Name" value="{{ name }}">
    <input class="email-textbox" type="text" maxlength="128" placeholder="Email address" value="{{ email }}">
    <button class="delete-button"><span></span></button>
  </li>
</script>
{% endraw %}
{% endblock %}


{% block content %}
{{ super() }}
<ul class="user-fields"></ul>
<button class="update-button">Update</button>
{% endblock %}


{% block foot %}
{{ super() }}
<script>
  var userTemplate;
  var group;


  $(function() {
    userTemplate = Handlebars.compile($("#user-template").html());

    $(document).keydown(function(e) { if (e.which == 13) updateGroup(); });
    $('.update-button').click(updateGroup);
    $(document).on('click', '.delete-button', handleDelete);
    $(document).on('input', '.name-textbox, .email-textbox', handleInput);

    getGroup();
  });


  function getGroup() {
    var data = {
      key: '{{ key }}'
    };
    $.getJSON('/x/get-group/', data, function (data) {
      if (data.errors) {
        showBannerMessage(data.errors);
        return;
      }

      group = data;

      var $userFields = $('.user-fields');
      $userFields.html('');
      for (var i = 0; i < group.users.length; ++i) {
        $userFields.append(userTemplate(group.users[i]));
      }
      $userFields.append(userTemplate({}));
    }).fail(function() {
      showBannerMessage('Uh-oh, your connection dropped :(');
    });
  }


  function updateGroup() {
    var $controls = $('.name-textbox, .email-textbox, .delete-button, .update-button');
    disable($controls);

    var users = [];
    $('.user-field').each(function() {
      var name = $(this).find('.name-textbox').val();
      var email = $(this).find('.email-textbox').val();
      users.push({name: name, email: email});
    });

    var data = {
      key: group.key,
      version: group.version,
      users: JSON.stringify(users)
    };
    $.post('/x/update-group/', data, function (data) {
      if (data.errors) {
        showBannerMessage(data.errors);
      } else {
        group = data;
        showBannerMessage('Updated!');
      }

      enable($controls);
    }).fail(function() {
      showBannerMessage('Uh-oh, your connection dropped :(');
    });
  }


  function handleDelete() {
    $(this).parents('.user-field').remove();
  }

  function handleInput() {
    var hasInput = $('.user-field:last-of-type input').get().reduce(function(agg, el) {
      return agg || !!$(el).val();
    }, false);

    if (hasInput) {
      $('.user-fields').append(userTemplate({}));
    }
  }
</script>
{% endblock %}