{% extends 'base.html' %}

{% block title %}Start your group{% endblock %}

{% block content %}
{{ super() }}
  <label for="name-textbox">Name:</label>
  <input id="name-textbox" type="text" maxlength="128" placeholder="The Smith Family Secret Santa"></input>
  <br>
  <label for="email-textbox">Your email:</label>
  <input id="email-textbox" type="text" maxlength="128" placeholder="SantasElf@gmail.com"></input>
  <br>
  <button class="create-button">Create</button>
{% endblock %}


{% block footer_script %}
{{ super() }}
<script>
  $(function() {  
    $(document).keydown(function(e) { if (e.which == 13) create(); });
    $('.create-button').click(create);
  });

  function create() {
    var $name = $('#name-textbox');
    var $email = $('#email-textbox');
    var $create = $('.create-button');
    var $controls = [$name, $email, $create];
    disable($controls);

    var data = {
      name: $name.val(),
      adminEmail: $email.val(),
    };
    $.post('/x/create-group/', data, function (data) {
      if (data.errors) {
        showBannerMessage(data.errors);
        enable($controls);
        return;
      }

      window.location.href = '/build/' + data.key + '/';
    }).fail(function() {
      showBannerMessage('Uh-oh, your connection dropped :(');
    });
  }
</script>
{% endblock %}
